# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore system files
.DS.Store
*.idea

# Ignore other common files
*.bak
*.swp
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.conda
jupyter/

# 가상환경
/.venv/

# AWS
aws_key.py

# 데이터
recipe_analysis_checkpoint_20241107_091855.csv
src/mongodb_ex.json

data/recipe_index